
.home-wrapper{
    width: 100%;
    height: 100%;
    .header-wrapper{
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .hemberger{
            height: 20px;
            width: 20px;
            margin-left: 2%;
            margin-right: 2%;
        }
        .menu{
            height: 20px;
            width: 20px;
            margin-left: -10%;
        }
        .logo{
            height: 40px;
            width: 40px;
            margin: 0;
        }
        input{
            width: 50%;
            height: 3.2rem;
            margin-right: 30%;
            border: none;
            background-color: #f1f3f4;
            border-radius: 10px;
            outline: none;
            &::placeholder{
                font-size: 1.1rem;
            }
            &:hover, :focus{
                background-color: white;
                outline: none;
                border: none;
            }
        }
        span{
            display: inline-block;
            font-family: "Product Sans", Arial, sans-serif;
            font-size: 24px;
            line-height: 24px;
            color: #57708a;
            margin-right: 10%;
            margin-left: 1%;
        }
        .user{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }


    }
    .templates-and-add-new{
        min-height: 450px;
        background-color: #f1f3f4;
        color: #202124;
        font-family: "Product Sans", Arial, sans-serif;
        line-height: 24px;
        color: #57708a;        
        font-size: 16px;
        font-weight: 400;
        line-height: 64px;
        display: flex;
        flex-direction: column;
        .template-wrapper{
            height: 320px;
            width: 220px;
            cursor: pointer;
            .img-wrapper{
                background-color: rgb(255, 255, 255);
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                .logo{
                    height: 40px;
                    width: 40px;
                    margin: 0;
                }
            }
        }
    }
    .recents{
        flex: 1;
            height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .doc-wrapper{
            height: 320px;
            width: 220px;
            cursor: pointer;
            margin: 2%;
            border: 1px solid #e2e2e2;
            .img-wrapper{
                background-color: rgb(255, 255, 255);
                height: 280px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48px' height='48px'%3E%3Cpath fill='%232196f3' d='M37,45H11c-1.657,0-3-1.343-3-3V6c0-1.657,1.343-3,3-3h19l10,10v29C40,43.657,38.657,45,37,45z'/%3E%3Cpath fill='%23bbdefb' d='M40 13L30 13 30 3z'/%3E%3Cpath fill='%231565c0' d='M30 13L40 23 40 13z'/%3E%3Cpath fill='%23e3f2fd' d='M15 23H33V25H15zM15 27H33V29H15zM15 31H33V33H15zM15 35H25V37H15z'/%3E%3C/svg%3E");
            }
            div{
                height: 40px;
                width: 100%;
                padding-left: 2%;
                border: 1px solid #e2e2e2;
            }
            &:hover{
                border: 1px solid #8454f5;
            }
        }
    }   

}